body {
    font-family: sans-serif;
    font-size: 36px
}

#trains table {
    font-size: 17px
}

#navs {
    color: blue;
}

#navs.inactive {
    color: gray;
}

h1 {
    margin: 0;
    font-size: 32px
}

table {
    border-collapse: collapse;
}

tr.northbound {
    background-color: #fdd;
}

tr.southbound {
    background-color: lightblue;
}

th {
    border-right: 1px solid #999;
}

td {
    border: 1px solid #999;
}

td.actual {
    font-weight: bold;
}

td.estimated {
    font-style: italic;
}

td.countdown {
    text-align: right;
}

div.selected {
    color: blue;
}

nav > div {
    display: none;
}

#trains {
    clear: both;
}